.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20%;
    position: relative;
    animation: blueRainbowBg 15s linear;
	  animation-iteration-count: infinite;
    width: 100%;
    line-height: 14px;
}


.bienvenue{
    font-size: 3rem;
    font-family: 'Courier New', Courier, monospace;
    color: white;
}



@keyframes blueRainbowBg {
  0%, 100% {
    background-color: rgb(0, 0, 255); 
    opacity: 1;
  }
  8% {
    background-color: rgb(32, 0, 255);
  }
  16% {
    background-color: rgb(64, 0, 255);
  }
  25% {
    background-color: rgb(96, 0, 255);
  }
  33% {
    background-color: rgb(128, 0, 255);
  }
  41% {
    background-color: rgb(160, 0, 255);
  }
  50% {
    background-color: rgb(192, 0, 255);
  }
  58% {
    background-color: rgb(224, 0, 255);
  }
  66% {
    background-color: rgb(255, 0, 255);
  }
  75% {
    background-color: rgb(224, 0, 255);
  }
  83% {
    background-color: rgb(192, 0, 255);
  }
  91% {
    background-color: rgb(160, 0, 255);
  }
  95% {
    background-color: transparent; 
  }
}


.proj {
    width: 500px;
    height: 200px;
    background-color: blue;
    position: absolute;
    top: 10%;
    left: 0;
    animation: moveDiv 8s linear infinite;
    border-radius: 25px;
    transition: 0.3s;
    }

.proj img{
  height: 100%;
  width: 100%;
  border-radius: 25px;
  filter: blur(1px);
  transition: ease-in;
}

.proj .imgTxt{
  display: none;
  top: 35%;
  margin-left: 40%;
  position: absolute;
  font-size: x-large;
  color: white;
}

.proj:hover{
  width: 550px;
  height: 220px;
}

.proj:hover img{
  filter: blur(0px);
}

.proj:hover .imgTxt{
  display: flex;
}

.proj2 {
  width: 500px;
  height: 200px;
  background-color: blue;
  position: absolute;
  top: 10%;
  animation: moveDiv 8s linear infinite;
  animation-delay: -2.5s;
  border-radius: 25px;
  transition: 0.3s;
  }

.proj2 img{
height: 100%;
width: 100%;
border-radius: 25px;
filter: blur(1px);
transition: ease-in;
}

.proj2 .imgTxt2{
display: none;
top: 35%;
margin-left: 30%;
position: absolute;
font-size: x-large;
color: white;
}

.proj2:hover{
width: 550px;
height: 220px;
}

.proj2:hover img{
filter: blur(0px);
}

.proj2:hover .imgTxt2{
display: flex;
}

.proj3 {
  width: 500px;
  height: 200px;
  background-color: blue;
  position: absolute;
  top: 10%;
  animation: moveDiv 8s linear infinite;
  animation-delay: -5s;
  border-radius: 25px;
  transition: 0.3s;
  }

.proj3 img{
height: 100%;
width: 100%;
border-radius: 25px;
filter: blur(1px);
transition: ease-in;
}

.proj3 .imgTxt3{
display: none;
top: 35%;
margin-left: 10%;
position: absolute;
font-size: x-large;
color: white;
}

.proj3:hover{
width: 550px;
height: 220px;
}

.proj3:hover img{
filter: blur(0px);
}

.proj3:hover .imgTxt3{
display: flex;
}

.proj4 {
  width: 500px;
  height: 200px;
  background-color: blue;
  position: absolute;
  bottom: 10%;
  left: 0;
  animation: moveDiv2 8s linear infinite;
  border-radius: 25px;
  transition: 0.3s;
  }

.proj4 img{
height: 100%;
width: 100%;
border-radius: 25px;
filter: blur(1px);
transition: ease-in;
}

.proj4 .imgTxt{
display: none;
top: 35%;
margin-left: 40%;
position: absolute;
font-size: x-large;
color: white;
}

.proj4:hover{
width: 550px;
height: 220px;
}

.proj4:hover img{
filter: blur(0px);
}

.proj4:hover .imgTxt{
display: flex;
}

.proj5 {
width: 500px;
height: 200px;
background-color: blue;
position: absolute;
bottom: 10%;
animation: moveDiv2 8s linear infinite;
animation-delay: -2.5s;
border-radius: 25px;
transition: 0.3s;
}

.proj5 img{
height: 100%;
width: 100%;
border-radius: 25px;
filter: blur(1px);
transition: ease-in;
}

.proj5 .imgTxt2{
display: none;
top: 35%;
margin-left: 30%;
position: absolute;
font-size: x-large;
color: white;
}

.proj5:hover{
width: 550px;
height: 220px;
}

.proj5:hover img{
filter: blur(0px);
}

.proj5:hover .imgTxt2{
display: flex;
}

.proj6 {
width: 500px;
height: 200px;
background-color: blue;
position: absolute;
bottom: 10%;
animation: moveDiv2 8s linear infinite;
animation-delay: -5s;
border-radius: 25px;
transition: 0.3s;
}

.proj6 img{
height: 100%;
width: 100%;
border-radius: 25px;
filter: blur(1px);
transition: ease-in;
}

.proj6 .imgTxt3{
display: none;
top: 35%;
margin-left: 40%;
position: absolute;
font-size: x-large;
color: white;
}

.proj6:hover{
width: 550px;
height: 220px;
}

.proj6:hover img{
filter: blur(0px);
}

.proj6:hover .imgTxt3{
display: flex;
}


@keyframes moveDiv {
        0% {
          transform: translateX(100vw);
        }
        20%{
          transform: translateX(75vw);
        }
        40% {
          transform: translateX(50vw);
        }
        60%{
          transform: translateX(25vw);
        }
        80%{
          transform: translateX(0vw);
        }
        100% {
          transform: translateX(-25vw);
        }
      }

@keyframes moveDiv2 {
        0% {
          transform: translateX(-25vw);
        }
        20%{
          transform: translateX(0vw);
        }
        40% {
          transform: translateX(25vw);
        }
        60%{
          transform: translateX(50vw);
        }
        80%{
          transform: translateX(75vw);
        }
        100% {
          transform: translateX(100vw);
        }
      }
