<!DOCTYPE html>

<html>

<body>
    <div class='light x1'></div>
    <div class='light x2'></div>
    <div class='light x3'></div>
    <div class='light x4'></div>
    <div class='light x5'></div>
    <div class='light x6'></div>
    <div class='light x7'></div>
    <div class='light x8'></div>
    <div class='light x9'></div>
    <a routerLink="Projets/DonkeyKongAI" class="projet"><div class="proj"><img [src]="dkai" alt="Donkey Kong AI"><p class="imgTxt">Donkey Kong AI</p></div></a>
    <a routerLink="Projets/DonkeyKongAI" class="projet"><div class="proj2"><img [src]="slaveNarrative" alt="Projet récit d'esclave"><p class="imgTxt2">Projet récit d'esclave</p></div></a>
    <a routerLink="Projets/DonkeyKongAI" class="projet"><div class="proj3"><img [src]="IOT" alt="Stage Irlande"><p class="imgTxt3">Stage surveillance qualité d'eau IOT en Irlande</p></div></a>
    <div class="container">
        <div class="bienvenue">
            <a routerLink="Presentation" class="present"><h1>{{ msg }}</h1></a>
        </div>
    </div>
    <a routerLink="Projets/DonkeyKongAI" class="projet"><div class="proj4"><img [src]="leMas" alt="Site Gîte"><p class="imgTxt">Site Gîte</p></div></a>
    <a routerLink="Projets/DonkeyKongAI" class="projet"><div class="proj5"><img [src]="LPF" alt="Site web E-commerce"><p class="imgTxt2">Site web E-commerce</p></div></a>
    <a routerLink="Projets/DonkeyKongAI" class="projet"><div class="proj6"><img [src]="symfony" alt="Site symfony"><p class="imgTxt3">Site symfony</p></div></a>
</body>
</html>

