<!DOCTYPE html>

<html>

<body>
    <a routerLink="Projets/DonkeyKongAI"><div class="proj"><img [src]="dkai" alt="Donkey Kong AI"><p class="imgTxt">Donkey Kong AI</p></div></a>
    <a routerLink="Projets/DonkeyKongAI"><div class="proj2"><img [src]="slaveNarrative" alt="Projet récit d'esclave"><p class="imgTxt2">Projet récit d'esclave</p></div></a>
    <a routerLink="Projets/DonkeyKongAI"><div class="proj3"><img [src]="IOT" alt="Stage Irlande"><p class="imgTxt3">Stage surveillance qualité d'eau IOT en Irlande</p></div></a>
    <div class="container">
        <div class="bienvenue">
            <p>{{ msg }}</p>
        </div>
    </div>
    <a routerLink="Projets/DonkeyKongAI"><div class="proj4"><img [src]="leMas" alt="Site Gîte"><p class="imgTxt">Site Gîte</p></div></a>
    <a routerLink="Projets/DonkeyKongAI"><div class="proj5"><img [src]="LPF" alt="Site web E-commerce"><p class="imgTxt2">Site web E-commerce</p></div></a>
    <a routerLink="Projets/DonkeyKongAI"><div class="proj6"><img [src]="symfony" alt="Site symfony"><p class="imgTxt3">Site symfony</p></div></a>
</body>
</html>

